<!DOCTYPE html>

<html>
    <head>
        <title>Ajout Event</title>
    </head>
    <body>
        <form action="/example" method="POST" id="test-form"> 
            <p>Entrer le titre de l'évenement: </p>
            <input></input type="text" id="title" maxlength="60">
            <p>Entrer le lieux de l'évenement: </p>
            <input></input type="address" id="location">
            <p>Entrer le date de début de l'évenement: </p>
            <input type="date" id="date-picker" value="aaaa-mm-jj"></input>
            <p>Entrer le date de fin de l'évenement: </p>
            <input type="date" id="endDate" value="aaaa-mm-jj"></input>
            <p>Entrer le catégorie de l'évenement : </p>
            <select name="Catégorie" id="category" value="Activitée">
                <optgroup label="Activité sportive">
                    <option>Piscine</option>
                    <option>Randonées</option>
                    <option>Zumba</option>
                </optgroup>
                <optgroup label="Activité culturelle">
                    <option>Théatres</option>
                    <option>Exposition</option>
                    <option>Visite de villes</option>
                </optgroup>
                <optgroup label="Activité intélectuelles">
                    <option>Painture</option>
                    <option>Scrable</option>
                    <option>Echec</option>
                </optgroup>
            </select>
            <p>Entrer la description de l'évenement (facultatif).</p>
            <input type="text" id="description" maxlength="150" />
            <p><button id="submit">Partager mon évènement!</button></p>

        </form>

        <h1 class="message"></h1>

        <script src="../js/Controller/AddEventController.js"></script>

    </body>
</html>