<!DOCTYPE html>
<htlml>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" 
          href="/styles/sidebar.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet"/>
  </head>

  <body>

    <nav>

      <div class="headCalendar">
        <i class="fas fa-angle-left prev"></i>
        <h1></h1>
        <i class="fas fa-angle-right next"></i>
      </div>
        
      </div>

      <div class="eventWeek">

      </div>
    
    
    
    </nav>

    <script src="/js/agenda.js"></script>
  </body>
</html>