<!DOCTYPE html>
<htlml>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" 
          href="/styles/sidebar.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet"/>
  </head>

  <body>

    <div class="sidebarContainer">

      <div class="week">
        
        <div class="headCalendar">
          <i class="fas fa-angle-left prev"></i>
          <h1></h1>
          <i class="fas fa-angle-right next"></i>
        </div>
        
        <div class="eventWeek">
          <h2></h2>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>

    <script src="/js/agenda.js"></script>
  </body>
</html>