<!DOCTYPE html>
<htlml>
    <head>
        <script src='./test.js'></script>
    </head>
    <body>
        <h1>CARTE</h1>
        <div id="sideAgenda" class="sidebar">
            <a href="javascript:void(0)" class="closebtn"
            onclick="closeNav()">&times;</a>
            <h1></h1>
          </div>
          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
            <h2>Collapsed Sidebar</h2>
            <p>Content...</p>
          </div>
    </body>
</html>