<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proche Et Vous</title>

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>


	<style>

		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		html {
			font-size: 62.5%;
		}

		body {
			height: 100vh;
			font-size: 1.6rem;
		}

		#header {
			height: 10rem;
			background-color: gray;
		}
		.btn navbar-btn{
			display: inline;
		}


		#content {
			position: relative;;
			width: 100%;
			height: calc(100% - 10rem);
		}

		#sidebar {
			position: absolute;
			top: 0;
			right: 0;
			width: 20%;
			height: 100%;
			background-color: rgb(102, 102, 102);
			transition: .5s transform;
			 z-index: 10000;
		}

		.avatar {
			/*position: absolute;*/
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			border-radius: 10%;
		}

		#sidebar.open {
			transform: translateX(100%);
		}

		#sidebar. {
			transform: translateX(100%);
		}

		.sidebar-btn {
			position: absolute;
			top: 0;
			left: -6rem;
			width: 6rem;
			height: 5rem;
			border: .1rem solid black;
			background-color: rgb(204, 103, 103);
		}

		#map {
			background-color: whitesmoke;
			width: 100%;
			height: 100%;
		}

		.leaflet-container {
			/*
			display: block;
			width: 85%;
			*/
			}

	</style>




</head>
<body>

	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="../index.html">
				<img src="../img/logo_squared.png" width="70" height="70" alt="">
			</a>
		</div>
		<nav class="navbar navbar-expand-sm justify-content-right">

			<button class="btn navbar-btn">Créer un évenment</button>
			<a href="profil_page.html">
			<button type="button" class="btn navbar-btn"> <img src="../img/avatar.png" height="80" width="80" />
			</button>
			</a>
		</nav>
	</div>

	<!-- <div id="header">
		
	</div>-->

	<div id="content">
		<div id="map"></div>
			<div id="sidebar">
							<!--  Bouton CALENDRIER  -->
				<div class="sidebar-btn">
						<img src="../img/calendrier.png" alt="Calendrier" class="avatar">
				</div>
				<div><!---->  --------------- AGENDA  ------------------------- -->
					<div class="calendar">
						<div class="headCalendar">
							<i class="fas fa-angle-left prev" id="prevWeek"></i>
							<div class="row">
								<h1>Semaine :</h1>
								<h3 class="semaine"></h3>
							</div>
							<i class="fas fa-angle-right next" id="nextWeek"></i>
						</div>
					
						<div id="contrat_mariage">
							<!-- JavaScript fonctionne à partir de 
					                dimanche: dimanche est donc mit à la fin 
					                avec la balise de classe d_1 -->
							<h1 class="d_2">Lundi
								<p class="a_2"></p>
							</h1>
							<h1 class="d_3">Mardi
								<p class="a_3"></p>
							</h1>
							<h1 class="d_4">Mercredi
								<p class="a_4"></p>
							</h1>
							<h1 class="d_5">Jeudi
								<p class="a_5"></p>
							</h1>
							<h1 class="d_6">Vendredi
								<p class="a_6"></p>
							</h1>
							<h1 class="d_7">Samedi
								<p class="a_6"></p>
							</h1>
							<h1 class="d_1">Dimanche
								<p class="a_1"></p>
							</h1>
						</div>
						<script src="../js/Model/EventParticipation.js"></script>
						<script src="../js/Adapters/DBRepository.js"></script>
						<script src="../js/Agenda/agenda.js"></script>
					</div>
				</div>
			<div>

				
		</div>
		
	</div>

	</div>

	<script>
		const sidebar = document.getElementById('sidebar');
		const sidebar_btn = document.querySelector('.sidebar-btn');

		sidebar_btn.addEventListener('click', function (event) {
				console.log('click');
				if (sidebar.classList.contains('open')) {
					sidebar.classList.remove('open');
				} else {
					sidebar.classList.add('open');
				}
		})
	</script>

	<script>
		var map = L.map('map').setView([50.465826, 4.85769], 17);
		var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			maxZoom: 30,
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1
		}).addTo(map);


		/*  -------  VOUS ETES ICI ------- */
		
		let user_long = 4.85769;
		let user_lat = 50.465826;
		let setuserPositionMarker = function(){
			DBRepository.getUser(1, function(user){
			var userAvatarIcon = new LeafIcon({iconUrl: '../img/'+user.avatar_filename});
			var marker = L.marker([user_lat, user_long], {icon: userAvatarIcon}).addTo(map)
				.bindPopup('<p>Bonjour '+user.fullname+'<p><br/>Vous êtes ici.').openPopup();
			});
		}
		navigator.geolocation.getCurrentPosition(
      function(position){
		    user_lat = position.coords.latitude;
		    user_long = position.coords.longitude;
		    console.log(user_lat+" "+user_long);
		    setuserPositionMarker(); 
		}, function(){setuserPositionMarker();}, {timeout:10000});


    /* -------  Définition des attributs des icones  ------- */
		var LeafIcon = L.Icon.extend({
			options: {
				shadowUrl: 'leaf-shadow.png',
				iconSize: [60, 60],
				//shadowSize:   [50, 64],
				iconAnchor: [22, 94],
				shadowAnchor: [5, 5],
				popupAnchor: [-3, -76]
			}
		});
		/* -------  Définition des 3 icones de catégories  ------- */
		var sportsICO = new LeafIcon({ iconUrl: '../img/sportsICO.jpg' }),
			cultureICO = new LeafIcon({ iconUrl: '../img/cultureICO.png' }),
			gamesICO = new LeafIcon({ iconUrl: '../img/gamesICO.jpg' });
//
		L.icon = function (options) {
			return new L.Icon(options);
		};
		/*  -------  Positionnement d'icones d'activités ==> Dévelloper une fonction qui parcoure la DB ------- */
		//L.marker([50.467386, 4.857674], { icon: sportsICO }).addTo(map).bindPopup("Activité sportive.");
		//L.marker([50.465405, 4.862437], { icon: cultureICO }).addTo(map).bindPopup("Activité culturelle.");
		//L.marker([50.46369, 4.859101], { icon: gamesICO }).addTo(map).bindPopup("Activité récréative.");
		/*  -------  Choix des catégories ------- */
		/*
		var
			sportss    = L.marker([50.467386, 4.857674], {icon: sportsICO}).addTo(map).bindPopup("Activité sportive.");
			cult    = L.marker([50.465405, 4.862437], {icon: cultureICO}).addTo(map).bindPopup("Activité culturelle.");
			gamess    = L.marker([50.46369, 4.859101], {icon: gamesICO}).addTo(map).bindPopup("Activité récréative.");
		Instead of adding them directly to the map, you can do the following, using the LayerGroup class:
		
		var sp = L.layerGroup([sportss]);
		var cu = L.layerGroup([cult]);
		var ga = L.layerGroup([gamess]);
			
			var overlayMaps = {
			"Sports": sp
			"Culture": cu
			"Jeux": ga
		};
			
			L.control.layers(overlayMaps).addTo(map);
		*/
		/*  -------  Fonction affichant les coordonnées de l'endroit cliqué ------- */
		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Vous avez cliqué en : " + e.latlng.toString())
				.openOn(map);
		}

	/* -------  Définition des 3 icones de catégories  ------- */
	let a_sportsICO = new LeafIcon({iconUrl: '../img/sportsICO.png'});
  let a_cultureICO = new LeafIcon({iconUrl: '../img/cultureICO.png'});
  let a_gamesICO = new LeafIcon({iconUrl: '../img/gamesICO.png'});


	L.icon = function (options) {
    return new L.Icon(options);
	};
	
  function jeparticipe(event_id_a){
    console.log("je participe " + event_id_a);
    DBRepository.addEventParticipation({user_id: 1, event_id: event_id_a, eventparticipation_id: null}, function(){
    });
  }
  function voirparticipants(){
    console.log("participants");
  }

	/*  -------  Positionnement d'icones d'activités ==> Dévelloper une fonction qui parcoure la DB ------- */
  DBRepository.getAllEvents(function(event_list){
    console.log(event_list.length);
    event_list.forEach(event_item => {
      console.log(event_item.category_type);
      let event_icon = a_cultureICO;
        if(event_item.type === "Sport") {
          event_icon = a_sportsICO;
        } else if(event_item.type === "Jeux") {
          event_icon = a_gamesICO;
        }
        //http://open.mapquestapi.com/geocoding/v1/address?key=KEY&location=Washington,DC
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://open.mapquestapi.com/geocoding/v1/address?key="+"RaEacuhNAZEHQ3ArwIntrabbpiq9aHvT"+"&location="+encodeURIComponent(event_item.location), false ); // false for synchronous request
        xmlHttp.send( null );
        const event_lat = JSON.parse(xmlHttp.responseText).results[0].locations[0].latLng.lat;
        const event_lng = JSON.parse(xmlHttp.responseText).results[0].locations[0].latLng.lng;
        L.marker([event_lat, event_lng], {icon: event_icon}).addTo(map).bindPopup("<h2>"+event_item.title + '</h2><br/>' + event_item.begindate +" - "+ event_item.endingdate +'<br/>'+ event_item.description
        + '<div id=\"participant_div\"></div><br/><button onClick=\"jeparticipe('+event_item.event_id+')\">Je participe</button>' + '<button style=\"margin-left:5px;\">Participants</button>');
    });
  });

	/*  -------  Choix des catégories ------- */
/*	
var 
    sportss    = L.marker([50.467386, 4.857674], {icon: sportsICO}).addTo(map).bindPopup("Activité sportive.");
    cult    = L.marker([50.465405, 4.862437], {icon: cultureICO}).addTo(map).bindPopup("Activité culturelle.");
    gamess    = L.marker([50.46369, 4.859101], {icon: gamesICO}).addTo(map).bindPopup("Activité récréative.");
Instead of adding them directly to the map, you can do the following, using the LayerGroup class:

var sp = L.layerGroup([sportss]);
var cu = L.layerGroup([cult]);
var ga = L.layerGroup([gamess]);
	
	var overlayMaps = {
    "Sports": sp
	"Culture": cu
	"Jeux": ga
};
	
	L.control.layers(overlayMaps).addTo(map);
*/	
	

	/*  -------  Fonction affichant les coordonnées de l'endroit cliqué ------- */
var popup = L.popup();

//function onMapClick(e) {
//    popup
//        .setLatLng(e.latlng)
//        .setContent("Vous avez cliqué en : " + e.latlng.toString())
//        .openOn(map);
//}
//
//map.on('click', onMapClick);

	</script>


	<!--jQuery(necessary for Bootstrap's JavaScript plugins) -->
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>


</body>
</html>