<div>
	<div class="row">
		<div class="col-sm p-3 bg-primary text-white">
			<div class="trow">
				Contact			
			</div>
			<div class="row">
				<div class="col-sm p-3 bg-primary text-white">
					Téléphone
				</div>
				<div class="col-sm p-3 bg-primary text-white">
					Siège social
				</div>		
			</div>
		</div>
		<div class="col-sm p-3 bg-primary text-white">
			<div class="row">
				<div class="col-sm p-3 bg-primary text-white">
					Sitemap
				</div>
				<div class="col-sm p-3 bg-primary text-white">
					Conditions d'utilisations
				</div>
				<div class="col-sm p-3 bg-primary text-white">
					Politique de vie privée
				</div>		
			</div>
		</div>
	</div>
	<div class="trow">
		The Whovians copyright 2022
	</div>

</div>