

		/* -------------   Header ( & logo)   -------- */
		/* -------------   Pages : login, profil_page   -------- */
		.header {
			text-align: center;
			padding: 0px 0px;
			margin: 1px 0;
			background-color: #ccffcc;
		}

	.navbar-header{
		display: inline-block ;

	}

		.logo {
			float: center;
			border: 1px;
			border-color: white;
			width:180px;
			height:180px;
			border-radius: 20%;
		}
		.imgcontainer {
		  text-align: center;
		  margin: 20px 0 20px 0;
		}
		.avatar {
		  width: 10%;
		  height: 10%;
		  border-radius: 40%;
		}
		/* -------------   FOOTER   -------- */
		/* -------------   Pages : login, profil_page   -------- */

		.row {
			/*border: 2px solid yellow;*/
			padding: 1px;
			margin: 1px;
			height: 5%;
		}
		.col-sm {
			/*border: 2px solid gray;*/

			width: auto;
		}
		.trow {
			text-align: center;

		}
		.mt-2 {
			margin-left: auto; 
     		margin-right: auto;
			height: 5%;
			width: 70%;
			background-color: #ccffcc;
		}