* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.calendar {
  width: 20%;
  height: 100%;
  background-color:#eee;
  color: #12121f;
  display: flex;
  justify-content: center;
  align-items: center;
}