* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.week {
  width: 100%;
  height: 100%;
  background-color:#2058d2;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}